<ion-content [fullscreen]="true" (mousedown)="onBackgroundClick($event)">

  <div class="wrapper">

    <!-- TOP -->
    <div class="top">

      <div class="steps">
        <div class="step active">1</div>
        <div class="step inactive">2</div>
        <span>Paso 1 de 2</span>
      </div>

    </div>

    <!-- CENTER -->
    <div class="center">

      <h1 class="title">Nombre y apellido</h1>
      <p class="subtitle">¿Cómo quisieras que te llamemos?</p>

      <div class="input-group">
        <label>Nombre</label>
        <input type="text" [(ngModel)]="nombre">
      </div>

      <div class="input-group">
        <label>Apellido</label>
        <input type="text" [(ngModel)]="apellido">
      </div>

    </div>

    <!-- BOTTOM -->
    <div class="bottom">
      <button
        [disabled]="!nombre || !apellido"
        (click)="continuar()">
        Continuar
      </button>
    </div>

  </div>

</ion-content>