<ion-content class="tarjeta-page">

  <div class="header">

    <button class="back-btn" (click)="volver()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </button>

    <h1>Tarjeta de crédito / débito</h1>

  </div>

  <div class="content">

    <label>Número de tarjeta</label>

    <input
      type="text"
      placeholder="1234 5678 9012 3456"
      [(ngModel)]="numeroTarjeta"
    />

    <label>Nombre en la tarjeta</label>

    <input
      type="text"
      placeholder=""
      [(ngModel)]="nombreTarjeta"
    />

    <div class="row">

      <div>
        <label>Vencimiento</label>

        <input
          type="text"
          placeholder="MM / AA"
          [(ngModel)]="vencimiento"
        />
      </div>

      <div>
        <label>CVV</label>

        <input
          type="password"
          placeholder="123"
          [(ngModel)]="cvv"
        />
      </div>

    </div>

    <div class="cards">

      <img src="assets/iconos/visa.png" />
      <img src="assets/iconos/mastercard.png" />
      <img src="assets/iconos/amex.png" />

    </div>

    <button class="pay-btn" (click)="pagar()">

      Pagar S/ {{ total | number:'1.2-2' }}

      <ion-icon name="lock-closed-outline"></ion-icon>

    </button>

  </div>

</ion-content>